* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App__header {
  background-color: rgb(158, 69, 69);
  height: 7vh;
  width: 100vw;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.App__title {
  font-size: 2.7rem;
  color:#ccc;
  font-weight: 700;
  letter-spacing: 2px;
}

.App__body {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  max-width: 100rem;
  height: 93vh;
}

@media (max-width: 480px) {
  html {
    font-size: 50%;
  }
  p {
    font-size: 1.8rem;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 330px) {
  html {
    font-size: 35%;
  }
}