* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.App__header {
  background-color: rgb(158, 69, 69);
  height: 5vh;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.App__title {
  font-size: 2.7rem;
  color:#ccc;
  font-weight: 700;
  letter-spacing: 2px;
}

.App__body {
  text-align: center;
  margin: 0 auto;
  width: fit-content;
  max-width: 100rem;
  height: 95vh;
}
